body {
    font-size: 11px;
    height: 100%;
    width: 100%;
    text-align: center;
}
#container {
    text-align: left;
    opacity:0.93;
    filter:alpha(opacity=99);
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    margin: 0 auto;
    left: 0;
    right: 0;
    margin-top: 28px;
    padding-bottom: 10px;
    width: 960px;
    min-height: 500px;
}

#main_content{}

#upper_header {
    margin: 0 auto;
    height: 28px;
    /*width: 960px;*/
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}
#upper_header a {
    margin-left: 3px;
}
#upper_header a:hover {text-decoration: none;}
#upper_header img {
    width: 23px;
    height: 23px;
}

/*Parts of Header*/
#header {
    /*opacity:0.8;*/
    padding-top: 5px;
    height: 110px;
    position: relative;
    margin-bottom: 5px;
    z-index: 100;
}
#header_logo {
    height: 50px;
    width: 200px;
    display: block;
}
#header #logo_title {text-align: center;}
#nav_menu_wrapper {
    display: block;
    height: 23px;
    position: absolute;
    bottom: 0px;
    right: 5px;
    margin-bottom: 10px;
}
#nav, #nav ul{
    margin:0;
    padding:0;
    list-style-type:none;
    list-style-position:outside;
    position:relative;
    line-height:1.5em;
    float: right;
}
#nav li{
    float:left;
    position:relative;
    border-bottom: none;
    margin-left: 4px;
}
#nav ul {
    position:absolute;
    display:none;
    width:12em;
    top:1.5em;
}
#nav a{
    display:block;
    padding: 3px 6px;
}

#nav li ul a{
    width:12em;
    height:auto;
    float:left;
}
#nav ul ul{
    /*top:auto;*/
}
#nav li ul ul {
    left:12em;
    margin:0px 0 0 10px;
}
#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul{
    display:none;
}
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul{
    display:block;
}

#nav li ul {z-index: 2;margin-top: 5px;left: -5px;border-bottom: none;}
#nav li ul li {}
#nav li ul li:hover {}
#nav li ul li a {}
#nav li ul li a:hover {}

#login_form {
    text-align: left;
    width: 360px;
    margin: 0 auto;
    padding: 10px;
}
#login_form .textbox {width: 210px;}
#login_form td {vertical-align: middle; padding: 2px; font-weight: bold; }

/*Parts of Footer*/
#footer {
    position: fixed;
    bottom:0;
    width: 100%;
    height: 20px;
    /*text-align: center;*/
    /*margin-top: 30px;*/
    /*clear: both;*/
    padding: 5px;
	opacity: 0.85;
}
#footer_content{
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

/* Gallery */
#gallery {max-width: 900px;}
.thumb-item {
    width: 273px;
    height: 131px;
    margin-bottom: 10px;
    padding: 5px;
}
.thumb-item img {
    width: 271px;
    height: 100px;
}

/*Main parts*/
#search_block {
    width: 752px;
    float: left;
    display: block;
    padding: 3px;
    margin: 0 10px 10px 10px;
    overflow: hidden;
}

#photo_wrapper {

}
#photo_wrapper img {
    max-width: 740px;
}

.standard_block, .left_menu_box {}

/*Modules*/
.left_menu_box {margin-bottom: 10px;}
.left_menu_box li {list-style-type: none;margin: 1px 3px 0 3px;}
.left_menu_box img {float:right;padding-right: 5px;max-height: 28px;max-height: 20px;max-width: 20px;}
.left_menu_box a {display: block; padding: 5px;margin-bottom: 1px;font-size:9pt;}
.left_menu_box a:hover {display: block;}

.box_title {display: block;
    border: none;
    padding: 5px;}
.box_title a {text-decoration: none;border: none;padding: 0px;}
.box_title a:hover {border: none;background: none;}

.module_title {
    display: block;
    padding: 5px;
    margin-bottom: 10px;
}

/* Effects */
.shadow {
    background: url(../../themes/_img/footer-page-curl.png) no-repeat bottom;
    background-position: 50%;
    padding-bottom: 20px;
}
.clear_inside {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
}
.left_col {
    float: left;
}
.right_col {
    float: right;
}
.standard_block {padding: 2px;margin-bottom: 5px;display: block;}

/* Job create form */
.l_box {width: 100%;position: relative;}
.ml_box {width: 60%;}
.m_box {width: 120px;}
.s_box {width: 30px;}

.table_standard {width: 100%;}
.table_standard td {vertical-align: middle;height: 25px;font-size: 10pt; padding-left: 5px;text-align: center;}
.table_standard td.align_left {text-align: left;}
.table_standard td.align_right {text-align: right;}
.table_standard .table_header {height: 25px; font-size: 10pt;}
.table_standard .table_header td {font-weight: bold;}
.table_standard .td_label {}

.table_left td {text-align: left}
.table_higher_row td {padding-bottom: 10px;}

.table_custom td {margin-right: 30px; padding-right: 10px;}

.table_full {width: 100%}
.table_full td {vertical-align: middle;height: 25px;font-size: 10pt; padding-left: 5px;}
.table_full td input[type="text"] {width: 70%}

input[type=button],input[type=submit],input[type=reset],button,.button_standard {
    /*font-size: 10pt;*/
    /*font-weight:900;*/
    /*display: inline-block;*/
    /*padding: 2px 4px;*/
    margin: 4px 4px;
}
/*.button_standard:hover {text-decoration: none;}*/

.textbox_fullw {width: 95%;}

.align_left {text-align: left;}
.align_center {text-align: center;margin: 0 auto;}
.align_right {text-align: right;}

label {font-weight: bold;}
a {text-decoration: none;}
a:hover {text-decoration: underline;}
li {list-style-type: none;}

.font_uppercase {text-transform: uppercase;}

/* Staff list */
#staff_list {background: none;}
#staff_list .item_block {
    display:inline-block;
    background: #fff;
    width: 195px;
    height: 250px;
    margin: 10px;
    padding: 5px;
    vertical-align: top;
    text-align: center;
    /*-webkit-box-shadow: 0 0 10px #9F9F9F;*/
    /*-moz-box-shadow: 0 0 10px #9F9F9F;*/
    /*box-shadow: 0 0 10px #9F9F9F;*/
    /*border: 1px solid #ccc;*/
}
#staff_list .item_block:hover {}
#staff_list .item_block:hover img {}
#staff_list .item_block img {
    border: 1px solid;
    max-width: 180px;
    max-height: 180px;
    /*border-radius: 1px;*/
    /*-moz-border-radius: 2px;*/
    /*-webkit-border-radius: 2px;*/
}
#staff_list .item_block .name {display: block;margin-top:5px;font-weight: bold;font-size: 10pt;}
#staff_list .item_block .title {display: block;margin-top:3px;}
#staff_list .shadow {
    background: url(../../themes/_img/img-footer-127.png) no-repeat bottom;
    background-position: 50% 100%;
    top:-14px;
    position: relative;
}

#staff_details {width: 100%;display: inline-block;}
#staff_details .img_wrapper {width: 210px; display: inline-block;float: left;}
#staff_details .img_wrapper img {
    max-width: 200px;
    padding: 0px;
    margin: 5px 5px 0 5px;
}
#staff_details .shadow {
    background: url(../../themes/_img/img-footer-200.png) no-repeat bottom;
    background-position: 50% 100%;
    top:-11px;
    position: relative;
}
#staff_details .staff_info {
    display: block;
    width: 330px;
    min-width: 330px;
    float: left;
    margin: 10px 5px 5px 10px;
}

/*For jQuery effects*/
#modal_dialog, .modal {
    /*background-color:#fff;*/
    display:none;
    width:350px;
    padding:15px;
    text-align:left;
    opacity:0.8;
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
}